#bankers_wrapper{
	.button-normal{
		font-size: 14px;
		color: #ffffff;
		text-transform: capitalize;
	}
	.filter-button{
		cursor: pointer;
    }
    .inputWrapper {
        margin: 32.6px 0 0 0;
    }
	 .filterWrap {
		background-color: #f0f5f7;
		padding: 1.5rem;
		margin-bottom: 1.5rem;
		.react-datepicker-wrapper{
			width: 100%;
			.dateField {
				width: calc(100% - 1.4rem);
				height: 1.1875em;
				min-width: 0;
				background: none;
				box-sizing: content-box;
				animation-name: MuiInputBase-keyframes-auto-fill-cancel;
				-webkit-tap-highlight-color: transparent;
				outline: none;
				border: solid 1px #dfe1ef;
				background-color: #fff;
				padding: 0.7rem
			}
		}
		span.errorMessage {
			display: block;
			color: red;
			margin: 4px 0px 0 0;
		}
		.clearBtn{
			padding: 7px 30px;
			margin: 0 20px 0 0;
		}
		.MuiOutlinedInput-input{
			padding: .7rem;
			background-color: #fff;
		}
	}
    .list-header {
        .MuiBox-root {
            padding: 0;
        }
    }
}