.expanded-view{
	.promotion-expanded-bottom{
		display: flex;
		justify-content: space-between;
		padding: 1.75rem 1rem;
		.promotion-expanded-button-container{
			align-items: center;
			flex-grow: 1;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		.promotion-expanded-item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 2px;
			border: solid 1px #d2dce4;
			background-color: rgba(216, 216, 216, 0);
			padding: 1.25rem 0.75rem;
			margin: 0rem .75rem;
			flex-grow: 1;
			span{
				font-size: 13px;
				font-weight: 400;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.43;
				letter-spacing: -0.05px;
				color: #3a3b3f;
			}
		}
	}	
}